.post-container{
    width: 52rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px 10px 0px;

    transition: all 0.5s ease-in-out;
}

.post-container.spin{
    transform: rotate(360deg);
}

.top-info{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    padding-left: 7px;
}

.user-info{
    display: flex;
}

.user-info img{
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 10px;
}

.pImg-container{
    margin: 0px 15px 20px;
}

.post-img{
    width: 25%;
    height: 25%;
}

.user-info li{
    color: black;
}

.options-label{
    margin-top: 5px;
    margin-right: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    transition: all 0.1s ease-in;
}

.options-label.active{
    visibility: visible;
    transform: translateX(-25%);
    transform: rotate(360deg);
}

.option{
    display: flex;
}

.options-label button{
    padding: 0 5px;
    margin: 0;
    background-color: transparent;
    border-radius: 0;
    color: black;
}

.option-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    width: 5px;
    height: 20px;
    margin-top: 16px;
    margin-right: 10px;
    cursor: pointer;
}

.dot{
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
}

.content p{
    margin: 20px 10px 20px;
}

.like-comment{
    display: flex;
    justify-content: center;
}

.btn-like, .btn-comment{
    width: 100%;
    color: black;
    background-color: transparent;
    border-top: 1px solid black;
    border-radius: 0;
}

.btn-like{
    border-right: 1px solid black;
}

.btn-comment{
    border-left: 1px solid black;
}



