@keyframes spinlowerright {
    from{
        transform: translate3d(0,0,0) rotate(0deg);
    }

    to{
        transform: translate3d(300px,500px,0) rotate(360deg);
    }
}

@keyframes spintopright {
    from{
        transform: translate3d(300px,500px,0) rotate(0deg);
    }

    to{
        transform: translate3d(300px,0,0) rotate(3600deg);
    }
}

@keyframes spinlowerleft {
    from{
        transform: translate3d(300px,0,0) rotate(0deg);
    }

    to{
        transform: translate3d(-300px,500px,0) rotate(360deg);
    }
}

@keyframes endspind {
    from{
        transform: translate3d(-300px,500px,0) rotate(0deg);
    }

    to{
        transform: translate3d(0,0,0) rotate(360deg);
    }
}

.post-container{
    width: 52rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px 10px 0px;

    transition: all 0.5s ease-in-out;
}

.post-container:hover{
    cursor: pointer;
}

.post-container.spin{
    animation:  spinlowerright 0.5s ease-in 0s 1 normal none, 
                spintopright 0.5s ease-in-out 0.5s 1 normal none,
                spinlowerleft 0.5s ease-in-out 1s 1 normal none,
                endspin 0.5s ease-out 1.5s 1 normal none;
}

.top-info{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    padding-left: 7px;
}

.user-info{
    display: flex;
}

.user-info img{
    display: block;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 10px;
}

.pImg-container{
    margin: 0px 15px 20px;
    columns: 2 204.25px;
}

.more-image{
    position: relative;
}

.post-img{
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

.btn-img-more{
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 5em;
    background-color: black;
    border-radius: 0;
    opacity: 0.7;
}

.user-info li{
    color: black;
}

.options-label{
    padding: 0;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.1s ease-in;
}

.options-label.active{
    visibility: visible;
    transform: translateY(0);
}

.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
}

.link-opt-name, .btn-opt-name{
    padding: 0 5px;
    margin: 0;
    background-color: transparent;
    color: black;
}

.btn-opt-name{
    border: 0;
}

.btn-opt-name:focus{
    outline: 0;
}

.btn-opt-name:hover{
    color: #646cff;
    border: 0;
}

.option-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 5px;
    height: 20px;
    margin-top: 16px;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.option-icon.active{
    transform: rotate(90deg);
}

.dot{
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
}

.content p{
    margin: 20px 10px 20px;
}

.like-comment{
    display: flex;
    justify-content: center;
    position: relative;
}

.btn-like, .btn-comment{
    width: 100%;
    color: black;
    background-color: transparent;
    border-top: 1px solid black;
    border-radius: 0;
}

.btn-like{
    align-items: center;
    border-right: 1px solid black;
}

.btn-comment{
    border-left: 1px solid black;
}


@keyframes wiggleleft {
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(-15deg) scale(1.2);
    }
}

@keyframes wiggleright {
    from{
        transform: rotate(-15deg) scale(1.2);
    }

    to{
        transform: rotate(30deg) scale(1.2);
    }
}

@keyframes wiggleend {
    from{
        transform: rotate(30deg) scale(1.2);
    }

    to{
        transform: rotate(0) scale(1);
    }
}

@keyframes aniend {
    from{
        transform: rotate(0) scale(1);
    }

    to{
        transform: rotate(0) scale(1);
    }
}


.react-icon.animated{
    animation:  wiggleleft 0.3s ease-in 0s 1 normal none,
                wiggleright 0.3s linear 0.3s 1 normal none,
                wiggleend 0.3s ease-out 0.6s 1 normal none;
}

.emotes-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 100%;
    left: 12.5%;
    width: 25%;
    height: 2.5rem;
    position: absolute;
    border: 1px solid black;
    border-radius: 50px;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.emotes-container.showed{
    visibility: visible;
    opacity: 1;
    transform: translateY(-5px);
}

.emotes-container>img:hover{
    transform: scale(1.2);
}


