.root-layout{
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "navbar-container content rightbar";
}

.navbar-container{
    grid-area: navbar-container;
}

.main-content{
    grid-area: content;
    width: 853.6px;
}

.rightbar{
    grid-area: rightbar;
    padding: 0.5rem 1rem;
}
