.brief-info, .functions{
    margin: 0px 10px 2px;
    border: 2px solid black;
}

.user-profile-image{
    position: relative;
    display: flex;
    margin: 0px 10px 2px;
}

.user-background{
    width: 100%;
    height: 25rem;
    z-index: -1;
}

.user-avatar{
    position: absolute;
    top: 65%;
    left: 2%;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    z-index: -1;
}

.brief-info{
    display: flex;
    justify-content: space-between;
}

.brief-info h2{
    text-align: start;
    color: black;
    margin: 0;
    padding-left: 15px;
}

.account_actions>button{
    margin: 20px;
}

.btn-denied-friend{
    background-color: lightcoral;
}

.btn-accept-friend{
    background-color: green;
}

.btn-account-upgrade{
    width: 140px;
    color: white;
    background-color: deepskyblue;
    margin-top: 20px;
}

.follower-container{
    display: flex;
}

.follower-container>p{
    padding: 0;
    margin: 10px;
}

.follower-container>p:hover{
    color: orange;
    cursor: pointer;
}

.functions{
    display: flex;
    justify-content: space-evenly;
}

.functions a{
    font-size: 2rem;
}