.create-post-container{
    width: 52rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px 10px 0px;
}

.create-form-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 15px;
}

.post-form{
    display: flex;
    flex-direction: column;
}

.creat-post-content{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;
    font-size: 1rem;
    color: black;
    width: 49rem;
    background-color: transparent;
    resize: none;
    border: 0;
}

.creat-post-content:focus{
    border: none;
    outline: none;
}

.img-upload{
    width: 25%;
    height: 25%;
}

.create-form-buttons{
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
}

.create-form-buttons button{
    width: 6rem;
    height: 2rem;
    padding: 0;
    border-radius: 0;
    margin-right: 10px;
    color: white;
}

.btn-cancel{
    background-color: gray;
}

.btn-post{
    background-color: rgb(47, 47, 254);
}