.create-form-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 15px;
}

.creat-post-content{
    color: black;
    width: 49rem;
    background-color: transparent;
    resize: none;
    border: 0;
    padding: 5px 10px 5px;
}

.img-upload{
    width: 25%;
    height: 25%;
}

.create-form-buttons{
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
}

.create-form-buttons button{
    width: 6rem;
    height: 2rem;
    padding: 0;
    border-radius: 0;
    margin-right: 10px;
    color: white;
}

.btn-cancel{
    background-color: gray;
}

.btn-post{
    background-color: rgb(47, 47, 254);
}