.imgprev-wrapper{
    position:  relative;
}

.images-origin{
   margin-bottom: 15px;
}


.btn-remove-img{
    position: absolute;
    top: -5%;
    right: -2.5%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    z-index: 5;
    transition: all 0.5s ease-in-out 2s;
}

.btn-remove-img.active{
    opacity: 0;
}

@keyframes infinitespin {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}


.img-upload.active{
    animation: infinitespin 0.1s ease-in-out 0s 25 normal none;
    opacity: 0;
}

.confirmation{
    display: flex;
    justify-content: space-evenly;
}

.btn-yes, .btn-no{
    padding: 0;
    margin: 0;
    width: 4rem;
    height: 2rem;
}

.btn-yes{
    background-color: darkgreen;
}

.btn-no{
    background-color: red;
}

.delete-dialog{
    background-color: white;
    border: 1px solid black;
    z-index: 100;
}

.img-delete-confirmation p{
    margin-bottom: 10px;
}

dialog::backdrop {
    background-color: rgb(0, 0, 00.2);
    opacity: 0.75;
}