.reset-pass-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset-pass-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 28rem;
    height: 25rem;
    padding: 0.75rem;
    border: 1px solid gray;
    box-shadow: 1px 2px black;
}

.frm-reset-container{
    z-index: 1;
}

.btn-confirm{
    margin: 0;
    padding: 0.5rem 0.5rem;
    background-color: green;
}

.frm-reset-pass input{
    width: 20rem;
}

.confirmation-box{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 28rem;
    height: 25rem;
    z-index: 5;
}

@keyframes flyUpLeftToBottom {
    0%{
        transform: translate(0,0), rotate(0deg);
    }
    50%{
        transform: translate(-50px,-25px), rotate();
    }
    100%{
        transform: translate(-75px,-15px), rotate(15deg);
        opacity: 0;
    }
}

.confety{
    position: absolute;
}

.confety.effect1{
    animation: flyUpLeftToBottom 1s linear 0s 1 normal none;
}