/*-----General-----*/
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35rem;
    min-height: 600px;
    background-color: white;
}
/*-----Login-----*/

.login-form, .signup-form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.signin-functions{
    display: flex;
    flex-direction: column;
    width: 70%;
}

p{
    margin: 0;
    color: black;
}

label,h2,input,select{
    color: black;
    margin-bottom: 5px;
}

select{
    background-color: transparent;
    height: 30px;
    font-size: 1rem;
}

input{
    background-color: white;
    accent-color: rgb(216, 83, 43);
    caret-color: rgb(216, 83, 43);
    font-size: 1rem;
    height: 2rem;
}

.seperate-line{
    width: 70%;
    margin: 1em 0;
    border: 1px solid black;
}

.login-form>button{
    background-color: black;
}

.btn-google-signin{
    background-color: red;
}

.translate-activation{
    display: flex;
}

.btn-switchform{
    padding: 0px 10px 0px;
    color: dodgerblue;
    background-color: transparent;
    border: 0;
    border-color: transparent;
}

.btn-switchform:hover{
    color: blue;
}

.btn-switchform:focus{
    outline: none;
}

.error-message p{
    color: red;
}
/* 
.btn-forgotpass{
    margin: 0;
    padding: 0;
    color: #646cff; 
    background-color: transparent;
    border: 0;
    outline: 0;
} */